<%- include("partials/header") %>

<script type="text/javascript" charset="utf-8">
    function onPropertyChange(selected){
        value = selected.value; 
        init();
    }
    function init() {
        scheduler.init('scheduler_here',new Date(),"month");

        scheduler.templates.xml_date = scheduler.date.str_to_date("%Y-%m-%d %H:%i"); 
            scheduler.clearAll();
            scheduler.load("/sitges/data_sitges", "json");
            var dp = new dataProcessor("/sitges/data_sitges");


            var elem = document.createElement("img");
            elem.setAttribute("src", "../images/sitges.jpg");
            elem.setAttribute("height", "100");
            elem.setAttribute("width", "100");
            elem.setAttribute("alt", "Palm-Springs");
            elem.setAttribute("id", "image");
            elem.setAttribute("style", "border-radius:50%;");
            document.getElementById("dropdown-image").appendChild(elem);
        
        dp.init(scheduler);
        dp.setTransactionMode("POST", false);
    }
</script>
<script src="../codebase/dhtmlxscheduler.js" ></script>
<link rel="stylesheet" href="../codebase/dhtmlxscheduler.css">
<% if (!admin) {%> 
<script>
    scheduler.config.readonly = true;
</script>
<% } %>
<body onload="init();">
    <div style="text-align: center;" id="dropdown-image">
        <div class="col-sm-12">
            <label>Sitges Calendar</label>
        </div>
    </div>
    
        <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:70%;'>
            <div class="dhx_cal_navline">
                <div class="dhx_cal_prev_button">&nbsp;</div>
                <div class="dhx_cal_next_button">&nbsp;</div>
                <div class="dhx_cal_today_button"></div>
                <div class="dhx_cal_date"></div>
                <div class="dhx_cal_tab" name="day_tab"></div>
                <div class="dhx_cal_tab" name="week_tab"></div>
                <div class="dhx_cal_tab" name="month_tab"></div>
            </div>
            <div class="dhx_cal_header">
            </div>
            <div class="dhx_cal_data">
            </div>
            
        </div>
</body>

