<%- include("partials/header") %>
<style>
    .column {
  float: left;
  padding: 25px;
}

</style>
<div class="container" style="text-align:center;">
    <div class="row">
        <div class="col-sm-6 center">
            <a href="/palm-springs/calendar">
                <img style="border-radius: 50%;" src="images/palm-springs.JPG" alt="Palm Springs"  width="70%"/>       
            </a>
        </div>
            <div class="col-sm-6">
                <a href="/sitges/calendar">
                    <img style="border-radius: 50%;" src="images/palm-springs.JPG" alt="Palm Springs" width="70%"/>        
                </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 center">
                <label>Palm-Springs</label>
        </div>
            
            <div class="col-sm-6">
            <label>Sitges</label>
        </div>
    </div>
        
    </div>

    <%- include("partials/footer") %>