<%- include("partials/header") %>
<style>
    .column {
  padding: 25px;
}
body{
     overflow:visible; 
    }
</style>
<div class="container" style="text-align:center;">
    <div class="row">
        <div class="col-sm-6">
            <label>Palm Springs</label>
            <a href="/palm-springs/calendar">
                <img style="border-radius: 50%; max-width:100%" src="images/palm-springs.JPG" alt="Palm Springs"  height="500" width="500"/>       
            </a>
        </div>
            <div class="col-sm-6">
                <label>Sitges</label>
                <a href="/sitges/calendar">
                    <img style="border-radius: 50%;  max-width:100%" src="images/palm-springs.JPG" alt="Palm Springs" height="500" width="500"/>        
                </a>
        </div>
    </div>
        
    </div>

    <%- include("partials/footer") %>